$dark-theme: true !default;
$primary-color: #242038 !default;
$accent-color: #abc8c0 !default;

.home {
  background-color: $accent-color;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media-datas {
  margin-top: 3rem;
}
.media-input {
  width: 100%;
  border-radius: 1rem;
  height: 2rem;
  border: none;
}
.media-input:focus {
  outline-width: 0;
}
.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.channel-headers {
  font-weight: 900;
}
.budget {
  margin-left: 6rem;
  font-weight: 900;
}
.keep-consistent {
  margin-left: 7rem;
  font-weight: 900;
}
.btncontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.plan-button {
  background-color: $accent-color;
  border: 1px solid;
  border-radius: 6px;
  padding: 0.7rem;
  font-size: 15px;
}
.plan-button:hover {
  background-color: #cff;
}
.total-sum {
  color: #4f9d69;
  font-weight: 900;
}

@media (max-width: 850px) {
  .home-content {
    width: 100%;
  }
  .keep-consistent {
    margin-left: 5rem;
    font-size: 0.8rem;
  }
  .budget {
    margin-left: 4rem;
    font-size: 0.8rem;
  }
  .channel-headers {
    font-size: 0.8rem;
  }
  h2 {
    font-size: 3px;
  }
}
