$dark-theme: true !default;
$primary-color: #242038 !default;
$accent-color: #ABC8C0 !default;

.home {
  background-color: $accent-color;

  width: 100%;
  cursor: pointer;

  top: 50px;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.budget {
  margin-left: 4rem;
}
.keep-consistent {
  margin-left: 3rem;
}
.button-container {
  display: flex;
  margin: 4rem;
  flex-direction: row;
  justify-content: flex-end;
}
.plan-button {
  background-color: $accent-color;
  border: 1px solid;
  border-radius: 6px;
  padding: 0.7rem;
  font-size: 15px;
}
