$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

.body{
    background-color: $accent-color;
    width: 20%;
    height: 100vh;
    overflow-y: scroll;
    cursor: pointer;
    ::-webkit-scrollbar-track {
       }
       ::-webkit-scrollbar {
         width: 5px;
       }
       ::-webkit-scrollbar-thumb {
         background-color: #b0b0b0;
       }
}