.media-plan-cont {
  margin-bottom: 0.5rem;
}
.media-data-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.individual-values-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sea-input {
  width: 9rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
}
.sea-input:focus {
  outline-width: 0;
}
.input-box-render {
  display: flex;
  align-items: center;
}
.input-box-with-error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.validation-error {
  font-size: 0.6rem;
  color: red;
}
.checkingbox {
  width: 2rem;
  height: 2rem;
}
.channel-name {
  max-width: 30px;
}
.number-format {
  padding: 3px;
  background-color: white;
}
@media (max-width: 850px) {
  .channel-name {
    font-size: 0.9rem;
    max-width: 20px;
  }
}
