$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

.nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: $primary-color;
}
.logoo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: #6a1b9a;
}

