$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

.nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #4F9D69;
}
.logoo {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 9.2rem;
}

