$dark-theme: true !default;
$primary-color: #f8bbd0 !default;
$accent-color: #6a1b9a !default;

.nav {
  display: flex;
  flex-direction: row;
  height: 60px;
  background-color: #4f9d69;
}
.logoo {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  width: 50%;
}
@media (max-width: 850px) {
  .logoo {
    width: 30%;
  }
}
